@import "~bootstrap-icons/font/bootstrap-icons.css";

.card-border {
    border: 0.1rem solid grey;
    padding: 1rem;
    background-color:rgb(240, 240, 240);
    margin: 1rem;
    border-radius: 2%;
}

.title-text {
    text-align: center;
    margin: 0;

}

.item-border {
    border: 0.1rem solid grey;
    padding: 1rem;
    background-color:rgb(250, 252, 253);
    margin: 1rem;
    border-radius: 3%;
}

.icon-edit {
    float: right;
}

.btn-icon {
    border: none;
    background-color:rgb(250, 252, 253);
}

.icon-space {
    display: flex;
    justify-content: space-between;
}
